rjsminasgiref==3.8.1
dj-database-url==2.3.0
Django==5.1.6
django-appconf==1.1.0
django-compressor==4.5.1
djangorestframework==3.15.2
drf-nested-routers==0.94.1
flake8==7.1.2
jedi==0.19.2
mccabe==0.7.0
parso==0.8.4
pep8==1.7.1
pycodestyle==2.12.1
pyflakes==3.2.0
rcssmin==1.1.2
rjsmin==1.2.2
sqlparse==0.5.3
typing_extensions==4.12.2
