<div ng-cloak>
    <div class="posts">
        <div ng-repeat="post in posts" class="post-wrapper">
            <post post='post' ></post>
        </div>
    </div>

    <div ng-repeat="column in vm.columns" style="display:none">
        <div class="posts">
            <div ng-repeat="post in column" class="post-wrapper">
                <post post="post"></post>
            </div>
        </div>
    </div>

    <div ng-hide="vm.columns && vm.columns.length">
        <div class="col-sm-12 no-posts-here">
            <em>The are no posts here.</em>
        </div>
    </div>
</div>
