{% load compress %}
{% load staticfiles %}

{% compress js %}

<script type="text/javascript" src="{% static 'node_modules/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/angular-ui-router/release/angular-ui-router.js' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/angular-cookies/angular-cookies.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/app.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/components/root/root.component.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/components/navbar/navbar.component.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/components/login/login.component.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/components/register/register.component.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/components/home/home.component.js' %}"></script>


<script type="text/javascript" src="{% static 'javascripts/services/authentication/authentication.service.js' %}"></script>
{% endcompress %}
