<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarController as vm">
    <a class="logo" href="/">Not Google Plus</a>
    <ul class="menu">
        {% if user.is_authenticated %}
        <li><a href="/+{{ user.username }}">+{{ user.username }}</a></li>
        <li><a href="/+{{ user.username }}/settings">Settings</a></li>
        <li><a href="javascript:void(0)" ng-click="vm.logout()">Logout</a></li>
        {% else %}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        {% endif %}
    </ul>
</nav>
